.tabTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 0.2px;
  text-align: center;
}

.tabTitleBold {
  font-weight: 600;
}

.main {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
}

.progressTitle {
  font-size: 36px;
  padding-bottom: 10px;
}

.progressWithTitleContainer {
  margin-top: 2rem;
}

.progressBarContainer {
  position: relative;
  height: 50px;
  width: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-weight: bold;
}

.progressBarFilled {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #858585;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.percentage {
  z-index: 1;
  font-size: 30px;
}
